:root{
    --theme-color : #FFFAEC;
    --theme-color2 : #F5ECD5;
    --theme-color3 : #578E7E;
    --theme-color4 : #3D3D3D;
    --font-family: "Kanit", sans-serif;
    --font-family2: "Big Shoulders", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: red 1px solid; */
}

body{
    font-family: var(--font-family);
    background: var(--theme-color);
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0px;
    background: var(--theme-color4);
    padding: 50px;
    gap: 50px ;
}
.nav-image {
    border: var(--theme-color3) 5px solid;
    width: 200px;
    height: 200px;
    background: var(--theme-color3);
    border-radius: 50%;
    background-image: url(./CIMU2220.JPG);
    background-size: cover;
    background-repeat:no-repeat;
}
.nav-text {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
    align-items: center;
}
.nav-text > a{
    color: var(--theme-color);
    transition: all 0.3s ease-in-out;
}
.nav-text > a:hover{
    color: var(--theme-color3);
    scale: 1.3;
}
/* END OF NAV BAR */

/* HERO SECTION */
.hero-section {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 100vh;
    justify-content: center;
    gap: 10px;

}
.name{
    text-align: start;
    line-height: 3.5rem;
    
}
.name >h1 {
    font-size: 80px;
    
}
.name > h2{
    color: var(--theme-color3);
    /* transform: translateY(-20px); */
    font-size: 50px;
}
.about {
    width: 95%;
}
.information {
    display: flex;
    gap: 10px;
}
.information > a{
    color: var(--theme-color3);
    text-decoration: underline;
}
.information >p {
    color: var(--theme-color4);
}
.about {
    font-size: 20px;
    margin-top: 20px;
    color: var(--theme-color4);
}
.links{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.links>a{
    color:var(--theme-color4);
    font-size: 30px;
    color: var(--theme-color4);
    transition: all 0.3s ease-in-out;
    font-size: 35px;
}
.links > a:hover{
    color: var(--theme-color3);
}
/* END */


/* EDUCATION */
.EDUCATION-SECTION {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 100vh;
    justify-content: center;
    gap: 30px;
}
.EDUCATION-SECTION > h1 {
    font-size: 60px;
    color: var(--theme-color3);
}
.pau{
    display: flex;
    gap: 25rem;
}
.pau>h2{
    font-family: var(--font-family2);
    font-size: 30px;
}
.pau>p{
    color: var(--theme-color3);
    font-size: 18px;
}
.rhs{
    display: flex;
    gap: 35rem;
}
.rhs > h2{
    font-family: var(--font-family2);
    font-size: 30px;
}
.rhs > p{
    color: var(--theme-color3);
    font-size: 18px;
}
.course,.WAEC {
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
}
